@charset "UTF-8";
/*-変数定義 font
------------------------------*/
/*--------------------------
font-size
---------------------------*/
/*行間計算*/
/*--------------------------
content-width
---------------------------*/
body, * {
  font-family: "Zen Maru Gothic", "Yu Gothic", "游ゴシック", YuGothic, sans-serif;
  text-align: justify;
}

@media screen and (max-width:767px) {
  body {
    padding-bottom: 60px;
  }
}

main.is-page {
  padding-top: 48px;
}
@media screen and (max-width:767px) {
  main.is-page {
    padding-top: 47px;
  }
}

/*--container
------------------------------*/
.container {
  max-width: 1000px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container02 {
  max-width: 1080px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container03 {
  max-width: 1080px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container04 {
  max-width: 1200px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.container05 {
  max-width: 820px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.container06 {
  max-width: 880px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.container07 {
  max-width: 900px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.child-container {
  max-width: 800px;
  width: calc(100% - 120px);
}
@media screen and (max-width:767px) {
  .child-container {
    width: 100%;
  }
}

.child-container02 {
  max-width: 684px;
  width: calc(100% - 120px);
}
@media screen and (max-width:767px) {
  .child-container02 {
    width: 100%;
  }
}

@media screen and (max-width:767px) {
  .sp-container {
    width: 84%;
    margin: 0 auto;
  }
}

/*--container
------------------------------*/
.is-front .container {
  max-width: 1000px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.is-front .container02 {
  max-width: 1080px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.is-front .container03 {
  max-width: 1080px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.is-front .container04 {
  max-width: 1200px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}
.is-front .container05 {
  max-width: 820px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}
.is-front .container06 {
  max-width: 880px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}
.is-front .container07 {
  max-width: 900px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}
.is-front .child-container {
  max-width: 800px;
  width: calc(100% - 120px);
}
@media screen and (max-width:767px) {
  .is-front .child-container {
    width: 100%;
  }
}
.is-front .child-container02 {
  max-width: 684px;
  width: calc(100% - 120px);
}
@media screen and (max-width:767px) {
  .is-front .child-container02 {
    width: 100%;
  }
}
@media screen and (max-width:767px) {
  .is-front .sp-container {
    width: 84%;
    margin: 0 auto;
  }
}

/*--section__title
------------------------------*/
.section__title {
  font-size: 1.875rem;
  line-height: 1.5;
  writing-mode: vertical-rl;
  letter-spacing: 0.4em;
  font-weight: 500;
  z-index: 5;
  position: relative;
}
@media screen and (max-width:767px) {
  .section__title {
    font-size: 1.125rem;
  }
}

.section__title span {
  display: block;
  font-size: 1rem;
  margin-left: 4px;
}
@media screen and (max-width:767px) {
  .section__title span {
    font-size: 0.8125rem;
    margin-left: 2px;
    letter-spacing: 0.3em;
  }
}

/* ----------------------------------------
header pc
---------------------------------------- */
.header__inner{
  height: 112px;
  margin: 1vw;
}
.top-address{
  display: flex;
  justify-content: space-between;
}
.top-address-left{
  color: #86898B;
}
.top-address-right{
  display: flex;
  gap: 30px;
}
.top-address-telephone{
  font-size: 36px;
}
.fa-solid{
  font-size: 30px;
  color: #F38200;
}
.header_logo img{
  height: 47px;
}
.header__inner2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list{
  display: flex;
  font-weight: bold;
  gap: 40px;
  margin-right: 40px;
}
.header__nav-list span{
  color: #007FFF;
  font-weight: bold;
}
/* ----------------------------------------
Mv
---------------------------------------- */

.introduction{
    background-image: url('../img/mv_bg.webp');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.schedule-wrapper {
    border-radius: 12px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    font-family: sans-serif;
    border: 2px solid #B4E2E9;
    border-radius: 16px;
    overflow: hidden;
}

th, td {
    padding: 10px 14px;
    text-align: center;
    border-right: 1px solid white;
    border-bottom: 1px solid #B4E2E9;
}

th:last-child,
td:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

th {
    background-color: #B4E2E9;
    font-weight: bold;
}
tr{
    background-color: white;
}

tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

td:first-child {
    border-right: 1px solid #B4E2E9;
}
td.open {
    color: #2e7d32;
    font-weight: bold;
}
td.closed {
    color: #c62828;
    font-weight: bold;
}

/* ----------------------------------------
Footer
---------------------------------------- */
/* ----------------------------------------
page base
---------------------------------------- */
.is-page {
  background: #F5F5F0;
}

.page__section:not(:last-of-type) {
  padding-top: 148px;
}
@media screen and (max-width:767px) {
  .page__section:not(:last-of-type) {
    padding-top: 80px;
  }
}

.page__section:last-of-type {
  padding-top: 148px;
  padding-bottom: 160px;
}
@media screen and (max-width:767px) {
  .page__section:last-of-type {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

/* ----------------------------------------
page mv
---------------------------------------- */
.mv__wrap .container:not(.breadcrumbs) {
  padding: 100px 0;
}
@media screen and (max-width:767px) {
  .mv__wrap .container:not(.breadcrumbs) {
    padding: 60px 0 80px;
    width: 100%;
  }
}

.mv__wrap .container .page__top-title, .is-404 h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.35em;
  line-height: 1.5;
}
@media screen and (max-width:767px) {
  .mv__wrap .container .page__top-title, .is-404 h1 {
    font-size: 1.125rem;
  }
}

/* ----------------------------------------
breadcrumbs
---------------------------------------- */
/* ----------------------------------------
page title
---------------------------------------- */
/* ----------------------------------------
message mv
---------------------------------------- */
/* ----------------------------------------
last
---------------------------------------- */
.sp-flex, .sp-block, .sp-inline {
  display: none !important;
}

@media screen and (max-width:767px) {
  .sp-hide {
    display: none !important;
  }
  .sp-flex {
    display: flex !important;
  }
  .sp-block {
    display: block !important;
  }
  .sp-inline {
    display: inline !important;
  }
}
.pc-hide {
  display: none;
}
@media screen and (max-width:767px) {
  .pc-hide {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */

